@model IEnumerable<EntidadeProfessores>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutPrincipal.cshtml";
}
@Html.AntiForgeryToken()


<div class="container">
    <h2>Gerenciador de Professores</h2>

    <div class="custom"></div>
    <div class="d-flex justify-content-between align-items-center mb-3">
        <form class="form-inline d-flex" method="get" action="@Url.Action("Index", "Professores")">

            <input type="text" class="form-control mr-2" placeholder="Pesquisar Professor..." name="searchString" value="@ViewBag.CurrentFilter">
            <button type="submit" class="btn btn-outline-dark">Buscar</button>

        </form>
        <button type="button" onclick="location.href='@Url.Action("CadastroProfessores","Professores")'" class="btn btn-outline-dark"> <i class="bi bi-plus"></i> Novo Professor</button>
    </div>

    <br /><br />
</div>
<div class="card">


    <div class="card-header">
        <div class="card-title">
        </div>
    </div>
    <div class="card-body">
        @TempData["Msg"]
        <table class="table">
            <thead>
                <tr>
                    <th>Foto</th>
                    <th>Nome</th>
                    <th>Status</th>
                    <th>Cpf</th>
                    <th>Cref</th>
                    <th>Especialidade</th>
                    <th>Observaçães</th>
                    <th>Ações</th>
                </tr>
            </thead>
            @* <tbody>
                @if (@Model != null)
                {
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Foto</td>
                            <td>@item.User.NomeCompleto</td>


                            @if (item.Ativo == true)
                            {
                                <td style="color:darkslategrey">ATIVO</td>
                            }
                            else
                            {
                                <td style="color:red">INATIVO</td>
                            }
                            <td>@item.Cpf</td>
                            <td>@item.Cref</td>
                            <td>@item.Especialidade</td>
                            <td>@item.Observacaes</td>
                            <td>
                                <button class="btn btn-outline-warning" title="Editar" onclick="window.location.href ='@Url.Action("AlterarProfessores","Professores", new {Id = item.Id})'">
                                    <i class="fa-solid fa-user-pen"></i>
                               </button>
                                <button class="btn btn-outline-danger btnExcluir" title="Excluir" data-id="@item.Id"><i class="fa-solid fa-user-xmark"></i></button>
                            </td>
                        </tr>
                    }
                }

            </tbody> *@
        </table>
    </div>
</div>

</div>

@section scripts {
    <script>

        $('.btnExcluir').on('click', function () {
            if (confirm("Deseja excluir?")) {
                var id = $(this).attr("data-id");
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("ExcluirProfessor", "Professores")',
                    data: { Id: id },
                    success: function (response) {
                        if (response.sucesso) {
                            alert(response.mensagem);
                            window.location.href = '@Url.Action("Index", "Professores")';

                        }

                    }, error: function () {

                    }
                });
            }


        });

    </script>
}