
@{
    ViewData["Title"] = "BemVindo";
    Layout = "~/Views/Shared/_LayoutPrincipal.cshtml";
}
@Html.AntiForgeryToken()
<div class="custom"></div>
<div class="container">
    
    <div class="card">
        <div class="card-header">
            <div class="card-title">
                <label>Gerenciar Usuários</label>
            </div>

                

        </div>
        <div class="card-body">
            <form asp-controller="Alunos" asp-action="Cadastrar" method="post">
               <div class="row">
                  <div class="col-sm-6">
                            <button type="button" onclick="location.href='@Url.Action("Index", "Alunos")'" class="btn btn-outline-dark"> <i class="bi bi-plus"></i>Gerenciador Aluno</button>
                  </div>
                    <div class="col-sm-6">
                        <button type="button" onclick="location.href='@Url.Action("Index", "Professores")'" class="btn btn-outline-dark"> <i class="bi bi-plus"></i>Gerenciar Professores</button>
                    </div>
               </div>
               <br />
                <div class="row">
                    <div class="col-sm-6">
                        <button type="button" onclick="location.href='@Url.Action("Index", "Colaboradores")'" class="btn btn-outline-dark"> <i class="bi bi-plus"></i>Gerenciador Colaboradores</button>
                    </div>
                    <div class="col-sm-6">
                        <button type="button" onclick="location.href='@Url.Action("Index", "Checkin")'" class="btn btn-outline-dark"> <i class="bi bi-plus"></i>Gerenciar Checkin</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>

